@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-size: 16px;
}

.link {
  @apply underline-offset-4;
}

input[type=range] {
  accent-color: #5D5D5D;
}

@layer utilities {

  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
  }
}
